body {
    font-family: Avenir, Arial, sans-serif;
    text-align: center;
}

.main {
    border: 10px dotted black;
    padding: 20px;
    margin: 0px auto;
}

h1 {
    margin: 0px;
}

p{
    margin-bottom: 20px;
}

blockquote {
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}