body {
    font-family: Futura;
}

h1 {
    color: #B33C86;
    border: 10px solid #B33C86;
}

p {
    color: #190E4F;
    border: 5px solid #190E4F;
    padding: 5px 30px 5px 30px; /* TRBL Top Right Bottom Left*/
}