body {
    width: 700px;
    text-align: center;
    margin: auto;
}

h1 {
    color: #B33C86;
    border: 10px solid #B33C86;
}

#paddings {
    color: #190E4F;
    border: 5px solid #190E4F;
    padding: 5px 30px 5px 30px; /* TRBL Top Right Bottom Left*/
}

#margins p {
    font-family: 'Minion Pro';
    background-color: black;
    color: white;
    padding: 10px;
    margin: 40px;
}

#margins img {
    width: 150px;
    border: 10px solid black;
    margin: -16px 30px 0px 30px;
}